*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(180deg, #3f9ab9 0%, #493d69 100%) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}